<!DOCTYPE html>
<html lang="en" layout:decorator="layout/nodeuvFullPageLayout">
<head>
</head>
<body>

<div layout:fragment="content">
    <!-- Navigation -->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">节点UV监控</h1>
            </div>
        </div>

        <div class="row" style="font-size:16px;">
            <div class="col-md-2">所属节点：</div>
            <div class="col-md-3">
                <select id="selectNodeKey" th:if="!${#lists.isEmpty(nodelist)}"
                        style="height:29px;border-radius:3px;border:1px solid #DDDDDD;">
                    <option th:each="node : ${nodelist}"
                            th:value="${node.nodeKey}"
                            th:text="${node.nodeName}">
                    </option>
                </select>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" onclick="onQueryClickNodeUV();">查&nbsp;&nbsp;询
                </button>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-area-chart fa-fw"></i>节点UV汇总(周期:天)
                    </div>
                    <div class="panel-body">
                        <div class="flot-chart">
                            <div class="flot-chart-content" id="uvbar-chart"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</body>
</html>
