<!DOCTYPE html>
<html lang="en" layout:decorator="layout/groupFullPageLayout">
<body>
<div layout:fragment="content">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">权限管理</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                权限列表
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="dataTable_wrapper">

                                <div class="row" style="font-size:16px;">
                                    <div class="col-md-2">权限名称：</div>
                                    <div class="col-md-4">
                                        <input id="hanName" type="text" class="form-control" placeholder="权限名称"></input>
                                    </div>
                                    <div class="col-md-2">权限类型：</div>
                                    <div class="col-md-4">
                                        <select id="hanAuthType" style="height:28px;border-radius:3px;border 1px solid #DDDDDD;">
                                            <option value="-1">全部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                            <option value="0">菜单</option>
                                            <option value="1">操作</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row" style="font-size:16px;margin-top:10px;">
                                    <div class="col-md-2">&nbsp;&nbsp;状&nbsp;&nbsp;态：</div>
                                    <div class="col-md-4">
                                        <select id="hanStatus" style="height:29px;border-radius:3px;border 1px solid #DDDDDD;">
                                            <option value="-1">全部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                            <option value="0">可用</option>
                                            <option value="1">禁用</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-primary" onclick="onQueryClick();">查&nbsp;&nbsp;询</button>
                                    </div>
                                </div>
                               <div class="row" style="margin:10px 0;">
                                   <div style="display:inline-block;"><button class="btn btn-primary" onclick="addPowerClick();">添加权限</button></div>
                               </div>
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-user">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>权限名称</th>
                                            <th style="display:none;">权限名称id</th>
                                            <th>权限类型</th>
                                            <th style="display:none;">所属菜单id</th>
                                            <th>所属菜单</th>
                                            <th>创建时间</th>
                                            <th>更新时间</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody id="myTbody">

                                        </tbody>
                                    </table>
                                    <nav style="float:right;">
                                      <ul class="pagination">
                                        <li>
                                          <a id="previous" href="#" aria-label="Previous" onclick="onPreviousClick();">
                                            <span aria-hidden="true">&laquo;</span>
                                          </a>
                                        </li>
                                        <li><a href="#" id="paging">1</a></li>
                                        <li>
                                          <a id="next" href="#" aria-label="Next" onclick="onNextClick();">
                                            <span aria-hidden="true">&raquo;</span>
                                          </a>
                                        </li>
                                      </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
    </div>
</div>
</body>
<script type="text/javascript" src="./js/jquery.artDialog.js"></script>
</html>