<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd 
http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop.xsd
">

	<context:annotation-config/>
	<context:component-scan base-package="com.monitor.argus.monitor.service*">
		<context:exclude-filter type="annotation"
								expression="org.springframework.stereotype.Repository"/>
		<context:exclude-filter type="annotation"
								expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>

	<context:component-scan base-package="com.monitor.argus.monitor.parser.impl"/>
	<context:component-scan base-package="com.monitor.argus.monitor.strategy.config"/>
	<context:component-scan base-package="com.monitor.argus.monitor.strategy"/>
	<context:component-scan base-package="com.monitor.argus.monitor.strategy.config.strategy"/>
	<context:component-scan base-package="com.monitor.argus.monitor.strategy.impl"/>
	<context:component-scan base-package="com.monitor.argus.monitor.strategy.impl.checker"/>

	<import resource="spring/spring-dataSource.xml"/>
</beans>