<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        "
	default-autowire="default">
	<bean name="SpringContextHolder" class="com.monitor.common.spring.SpringContextHolder" />

	<context:annotation-config />

	<bean name="apiExceptionStaticInterceptor" class="com.monitor.common.http.aop.ApiExceptionStaticInterceptorSimpleImpl" />
	<bean name="apiNomalStaticInterceptor" class="com.monitor.common.http.aop.ApiNomalStaticInterceptorSimpleImpl" />
	<bean name="httpClientUtil" class="com.monitor.common.http.HttpClientUtil">
		<property name="connTimeout" value="60000" />
		<property name="soTimeout" value="60000" />
		<property name="useHttpPool" value="true" />
	</bean>

	<bean name="httpClientUtilAop" class="com.monitor.common.http.aop.LogHttpClientSpringAop" />
	<aop:config>
		<aop:aspect ref="httpClientUtilAop">
			<aop:around method="aroundHttpHttpClientUtils" pointcut="execution(public com.monitor.common.http.HttpResultVO com.monitor.common.http.HttpClientUtil.*(..))" />
		</aop:aspect>
	</aop:config>
</beans>
