<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       	http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd


       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- Configures the @Controller programming model -->
    <mvc:annotation-driven/>
    <!-- 设置使用注解的类所在的jar包 -->
    <context:component-scan base-package="com.monitor.argus" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

    <!-- 启用spring mvc 注解 -->
    <!-- <context:annotation-config /> -->

    <!-- 完成请求和注解POJO的映射 -->
    <!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
    <!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
    <bean id="mappingJacksonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置上传文件的最大尺寸为1MB -->
        <property name="maxUploadSize">
            <value>1048576</value>
        </property>
    </bean>
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="mappingJacksonHttpMessageConverter"/>
            </list>
        </property>
    </bean>

    <bean id="templateResolver"
          class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".html"/>
        <property name="templateMode" value="HTML5"/>
        <property name="characterEncoding" value="UTF-8"/>
        <property name="cacheable" value="false"/>
    </bean>

    <bean id="templateEngine"
          class="org.thymeleaf.spring4.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver"/>
        <property name="additionalDialects">
            <set>
                <bean class="nz.net.ultraq.thymeleaf.LayoutDialect"/>
            </set>
        </property>
    </bean>

    <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
        <property name="templateEngine" ref="templateEngine"/>
        <property name="characterEncoding" value="UTF-8"/>

    </bean>
    <mvc:resources mapping="/static/**" location="/WEB-INF/static/"/>
    <context:property-placeholder location="classpath:mis.properties" ignore-unresolvable="true"/>
    <context:property-placeholder location="classpath:config.properties" ignore-unresolvable="true"/>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/userController/**"/>
            <mvc:exclude-mapping path="/login"/>
            <mvc:exclude-mapping path="/loginAjax"/>
            <mvc:exclude-mapping path="/loginDialog"/>
            <mvc:exclude-mapping path="/static/**"/>
            <mvc:exclude-mapping path="/webSockets/alarm/alarmNotifySocket"/>
            <mvc:exclude-mapping path="/statistics/totalBytes"/>
            <mvc:exclude-mapping path="/statisticsmonitor/dayinfo"/>
            <mvc:exclude-mapping path="/statisticsmonitor/monitortimes"/>
            <mvc:exclude-mapping path="/node/sumnode"/>
            <mvc:exclude-mapping path="/argusshow/index"/>
            <bean class="com.monitor.argus.mis.interceptor.SercurityInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>
