<!DOCTYPE html>
<html lang="en" layout:decorator="layout/rtfFullPageLayout">
<head>
    <script type="text/javascript">

    </script>
</head>
<body>

<div layout:fragment="content">
    <!-- Navigation -->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">本地jvm详情</h1>
            </div>
        </div>

        <div class="row ">
            <div class="col-xs-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-area-chart fa-fw"></i>本地jvm详情
                    </div>
                    <!-- /.panel-heading -->

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table class="table table-hover table-bordered" id="dataTables-all">
                            <thead>
                            <tr>
                                <th>系统ID</th>
                                <th>系统IP</th>
                            </tr>
                            </thead>
                            <tbody id="allTbody">
                            <tr>
                                <td th:text="${systemIPJvmInfo.systemId}">系统ID</td>
                                <td th:text="${systemIPJvmInfo.ip}">系统IP</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover table-bordered" id="dataTables-monitor">
                            <thead>
                            <tr>
                                <th>数据指标</th>
                                <th>数据指标明细</th>
                            </tr>
                            </thead>
                            <tbody id="monitorTbody">
                            <tr th:each="jvmMetrics : ${systemIPJvmInfo.jvmMetricss}">
                                <td th:text="${jvmMetrics.metricsName}">数据指标</td>
                                <td>
                                    <table class="table table-hover table-bordered">
                                        <thead>
                                        <tr>
                                            <th>指标名称</th>
                                            <th>指标数据</th>
                                        </tr>
                                        </thead>
                                        <tr th:each="jvmMetricsTag : ${jvmMetrics.jvmMetricsTags}">
                                            <td th:text="${jvmMetricsTag.tagName}">指标名称</td>
                                            <td th:text="${jvmMetricsTag.tagValue}">指标数据</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- /.panel -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
</div>
</body>
</html>
