<!DOCTYPE html>
<html lang="en" layout:decorator="layout/trafficFullPageLayout">

<body>

<div layout:fragment="content">
    <!-- Navigation -->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">日志流量对比</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-area-chart fa-fw"></i>日志流量汇总(周期:天 单位:MB)
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="flot-chart">
                            <div class="flot-chart-content" id="flot-bar-chart-moving"></div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-area-chart fa-fw"></i>日志流量对比(周期:时 单位:MB)
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="flot-chart">
                            <div class="flot-chart-content" id="flot-line-chart-moving"></div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>

            </div>

        </div>
    </div>

</div>


</body>

</html>