<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="analyTopologyDayUVMapper">
    <resultMap id="BaseResultMap" type="com.monitor.argus.bean.dataland.AnalyTopologyDayUVEntity">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="UV_COUNT" property="uVCount" jdbcType="VARCHAR"/>
        <result column="NODE_KEY" property="nodeKey" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="DATE"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, UV_COUNT, NODE_KEY, CREATE_DATE
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_topo_analy_dayuv_data order by CREATE_DATE DESC
    </select>

    <insert id="insert" parameterType="com.monitor.argus.bean.dataland.AnalyTopologyDayUVEntity">
        replace into t_topo_analy_dayuv_data (ID, UV_COUNT, NODE_KEY, CREATE_DATE)
        values (#{id,jdbcType=VARCHAR}, #{uVCount,jdbcType=VARCHAR}, #{nodeKey,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}
        )
    </insert>

</mapper>